@import './fonts/font.css';
@tailwind base;

@layer base {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    @apply leading-relaxed bg-theme-white font-display;
  }
  body {
    @apply p-0 m-0 text-base leading-snug text-navlink-default  ;
  }

  header {
    max-height: 100px;
  }
  
  h1,h2,h3,h4,h5,h6 {
    @apply font-normal leading-tight;
  }
  
  p {
    @apply text-base font-normal text-gray-700 font-p;
  }
  
  a {
    @apply cursor-pointer text-bluebutton-default;
  }
  

  p.external::after,
  a.external::after {
    margin-left: 0.125em;
    margin-right: 0.3em;
    display: inline;
    content: '↗';
    transition: all 0.1s ease-in-out 0s;
    font-style: normal;
  }
  
  hr {
    border-color: #ebebeb;
    height: 1px;
  }

  
  button {
    font-family: geomanistregular, sans-serif;
    @apply text-base text-center cursor-pointer focus:outline-none;
  }

   
  .dropdown:hover .dropdown-menu {
    display: block;
    /* left: -28px; */
  }
  
  @screen lg {
    #nav-toggle ~ * {
      display: block !important;
    }
  }
}

@tailwind components;

@tailwind utilities;

@layer utilities {
  .rotate-0 {
    transform: rotate(0deg);
  }
  .rotate-90 {
    transform: rotate(90deg);
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
  .rotate-270 {
    transform: rotate(270deg);
  }
}


